/* ---------- General ----------------- */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
  font-size: 14px;
}

a {
  color: #de4938;
}

a:hover {
  color: #251667;
}

.text-primary {
  color: #de4938 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 10;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 45px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

/* ---------- UNDERLINE ----------------- */
u {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* ---------- TOOLTIP ----------------- */
.tooltip {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  color: white;
}

/* -------------------- BUTTON NEXT PREVIOUS POST ------------------ */

.leftLink {
  left: 30px;
  color: red;
  position: fixed;
  top: 50%;
}
.rightLink {
  right: 30px;
  color: red;
  position: fixed;
  top: 50%;
}

@media (max-width: 1400px) {
  .leftLink {
    display: none;
  }
  .rightLink {
    display: none;
  }
}

/* ---------- Text histogram ----------------- */
.text-histogram {
  text-align: right;
  height: 400px;
}

@media (min-width: 767px) {
  .text-histogram {
    text-align: right;
  }
}

/* ---------- Intro text on homepage----------------- */
.introText {
  text-align: center;
}
@media (min-width: 992px) {
  .introText {
    text-align: left;
  }
}

/* ---------- Button ----------------- */
.btn {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: transparent;
  border-color: #de4938;
  color: #de4938;
  border-width: small;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #de4938 !important;
  border-color: #de4938 !important;
  color: white;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.btn-secondary {
  background-color: transparent;
  border-color: #de4938;
  color: #de4938;
  border-width: small;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #de4938 !important;
  border-color: #de4938 !important;
  color: white;
}

.btn-secondary:active,
.btn-secondary:focus {
  background-color: #de4938 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #de4938 !important;
  border-color: #de4938 !important;
  color: white;
}

::-moz-selection {
  background: #de4938;
  text-shadow: none;
}

::selection {
  background: #de4938;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* ---------- MENU TOP ----------------- */

#mainNav {
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #de4938;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Color of 'from data to viz' on the top left */
#mainNav .navbar-brand {
  color: #de4938;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #251667;
}

/* Color of the TEXT of the menu top right*/
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #b8b8b8;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #de4938;
  background-color: white;
  border-bottom: 3px solid #de4938;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/* -------------------- MENU ------------------ */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fed136;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* LANDING SECTION
/* ------------------------------------------------------------------------------------------------------------------- */

.textlanding {
  color: black;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 600px;
  padding: 2em 3em;
}
.arrowlanding {
  color: black;
  position: absolute;
  top: 98%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 600px;
  padding: 2em 3em;
}

.persoBtn {
  border: solid;
  height: 40px;
  border-color: black;
  border-width: 0.7px;
  border-radius: 3px;
  padding: 3px;
  color: black;
  cursor: pointer;
  background-color: white;
}

.linkAction {
  cursor: pointer;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 2px;
  border-width: 3px !important;
  border-color: #f5f5f5 !important;
  border: solid;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 0;
  background: #ee3a3e;
  border-radius: 2%;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.8;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
  position: absolute;
  top: 20%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -12px;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: "none";
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}
